<%= content_for :body_id, 'dashboard' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Dashboard' %>
<%= stylesheet_link_tag "users" %>
<%= render "/shared/document_titles" %>
<div id="users" class="row">
  <div class="col-md-6">
    <div class="panel panel-default" id="dashboard-documents">
      <div class="panel-heading">
        <span class="panel-title"><%= link_to "Documents", documents_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="document-tabs" role="tablist">
          <li class="active"><a href="#assigned" data-toggle="tab"><span class="badge"><%= Document.tagged_with(current_user.rep_group_list, :any =>true).size %></span> Shared</a></li>
          <li><a href="#created" data-toggle="tab"><span class="badge"><%= current_user.documents.size %></span> Mine</a></li>
        </ul>
      </div><!-- / .panel-heading -->
      <div class="tab-content">
        <div class="tab-pane no-padding fade active in" id="assigned">
          <ul id="documents-assigned" class="list-group">
            <% unless Document.tagged_with(current_user.rep_group_list, :any =>
            true).empty? || Document.tagged_with(current_user.rep_group_list).nil? %>
            <% Document.order("created_at DESC").tagged_with(current_user.rep_group_list, :any =>
            true).limit(10).each do |document| %>

              <li class="list-group-item" >
                <%= link_to document.title, document_path(document.friendly_id) %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

            <% if document.updated_at > current_user.last_sign_in_at && 
              document.updated_at < current_user.current_sign_in_at && document.user_id != current_user.id %>
              <script> 
                $(".list-group-item").css("background-color", "#fffee8");
             </script>

             <% puts 'new document!'%>

            <% end %>
                
              <span class="pull-right">
          <% if document.rep_group_list.length > 0 %>
              <span class="label label-info">
                <%= document.rep_group_list[0] %></span>
              <% end %>
                <%= document.created_at.strftime("%m/%d/%Y") %></span>
        <div class="clearfix"></div>
            </li>


            <% end %>
            <li class="list-group-item"><strong><a href="/documents?docs=assigned">See more shared documents&hellip;</a></strong></li>
            <% else %>
            <li class="list-group-item">
              No documents to view. (Your account maybe be pending approval).
            </li>
            <% end %></ul>
        </div><!-- / .tab-pane -->
        <div class="tab-pane no-padding fade in" id="created">
          <ul id="documents-created" class="list-group">
            <% unless current_user.documents.empty? || current_user.documents.nil? %>
              <% current_user.documents.order("created_at DESC").limit(10).each do |document| %>
                <% if can? :read, document %>
                  <li class="list-group-item">
                    <%= link_to document.title, document_path(document.friendly_id) %>
                    <span class="pull-right">
                      <%= document.created_at.strftime("%m/%d/%Y") %></span>
                  </li>
                <% end %>
              <% end %>
            <li class="list-group-item"><strong><a href="/documents?docs=created">See more of my documents&hellip;</a></strong></li>
            <% else %>
            <li class="list-group-item">
              No documents to view. (Your account maybe be pending approval).
            </li>
            <% end %>
          </ul>
        </div>
      </div><!-- / .tab-pane -->
      <ul class="nav nav-pills">
        <!--<li><%#= link_to "Go to document list", documents_path %></li>-->
        <li><%= link_to raw("<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"></span> Create new document"), document_path('new') %></li>
      </ul>
    </div><!--/ panel -->

    <div class="panel panel-default" id="dashboard-groups">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to ENV["CLASS_TERM_PLURAL"], groups_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="group-tabs" role="tablist">
          <li>
            <a href="#subgroups" data-toggle="tab">
              <span class="badge"><%= current_user.rep_subgroup_list.size %></span> <%= ENV["GROUP_TERM_PLURAL"] %>
            </a>
          </li>
          <li class="active">
            <a href="#groups" data-toggle="tab">
              <span class="badge"><%= current_user.rep_group_list.size %></span> <%= ENV["CLASS_TERM_PLURAL"] %>
            </a>
          </li>
        </ul>
      </div>
      <!-- / .panel-heading -->

      <div class="tab-content">
        <div class="tab-pane no-padding fade in" id="subgroups">
          <ul class="list-group">
            <% current_user.rep_subgroup_list.each do |subgroup| %>
              <li class="list-group-item"><%= link_to subgroup, documents_path(docs: 'assigned', subgroup: subgroup) %></li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane no-padding fade active in" id="groups">
          <ul class="list-group">
            <% current_user.rep_group_list.each do |group| %>
              <li class="list-group-item"><%= link_to group, documents_path(docs: 'assigned', group: group) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--<ul class="nav nav-pills">-->
      <!--<li>-->
      <!--<%#= link_to "Go to class and group list", groups_path %>-->
      <!--</li>-->
      <!--</ul>-->
    </div><!--/ panel -->

  </div><!--/ col-md-6 -->
  <div class="col-md-6">
    <div class="panel panel-default" id="dashboard-annotations">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Annotations", annotations_path %>
          </span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="annotation-tabs" role="tablist">
          <li class="active">
            <a href="#mine" data-toggle="tab">
              <span class="badge"></span>
              Mine 
            </a>
          </li>
          <li>
            <a href="#group" data-toggle="tab">
              <span class="badge"></span>
              <%= ENV["GROUP_TERM_PLURAL"] %>
            </a>
          </li>
          <li>
            <a href="#class" data-toggle="tab">
              <span class="badge"></span>
              <%= ENV["CLASS_TERM_PLURAL"] %>
            </a>
          </li>
        </ul>
      </div>
      <!-- / .panel-heading -->
      <div class="tab-content">
        <div class="tab-pane no-padding fade active in" id="mine">
          <ul id="my-annotation-list" class="list-group"></ul>
          <button onclick="exportToCSV('annotations.csv')">Export My Annotations (CSV) </button>
        </div>
        <div class="tab-pane no-padding fade in" id="class">
          <ul id="class-annotation-list" class="list-group"></ul>
        </div>
        <div class="tab-pane no-padding fade in" id="group">
          <ul id="group-annotation-list" class="list-group"></ul>
        </div>
      </div>
      <!--<ul class="nav nav-pills">-->
        <!--<li>-->
    <!--  <%#= link_to "Go to annotation list", annotations_path %></li>-->
      <!--</ul>-->
    </div>
    <!--/ panel --> </div>
  <!--/col-md-3 -->
</div>
<!--/row -->


<%= javascript_include_tag "widget" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
  var widget = new Widget.App();
  var endpoint = '<%= ENV["API_URL"] %>';
  var token = '<%= session["jwt"] %>';
  // Backbone.history.start({pushState: true, root: window.location})

  var myLoadOptions = {
    'limit': 100,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>", 
    'mode': 'user',
    'context': 'dashboard',
  };
  var classLoadOptions = {
    'limit': 100,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>", 
    'mode': 'class',
    'context': 'dashboard',
  };
  var groupLoadOptions = {
    'limit': 100,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'group',
    'context': 'dashboard',
  };

  widget.listAnnotations('my-annotation-list', myLoadOptions, endpoint, token);
  widget.listAnnotations('class-annotation-list', classLoadOptions, endpoint, token);
  widget.listAnnotations('group-annotation-list', groupLoadOptions, endpoint, token);
});

</script>
<script type="text/template" id="user-comment-template">
  <span class="user-highlight"><span class="pull-right">{{formattedDate}}</span><div class="ellipsis" id="{{uuid}}"><a href="{{uri}}#hl{{uuid}}">{{{quote}}}</a></div></span>
  <span class="user-comment"><div class="ellipsis">{{{text}}}</div><div class="secondary-text">{{title}} ({{username}})</div>


  <script> 
    var currentSignin = Date.parse("<%= current_user.current_sign_in_at %>");
    var lastSignin = Date.parse("<%= current_user.last_sign_in_at %>");
    var annoTime = Date.parse("{{{created}}}"); //not sure whether to use created or updated
   
   //or currentsignin and lastsignin are the same? 
    if(annoTime < currentSignin && annoTime > lastSignin){
      <% puts "new annotation" %>
      $("#{{uuid}}").css("background-color", "#fffee8");
    };

  </script>
  </span>
</script>


<script type="text/template" id="user-highlight-template">
  <span class="user-highlight"><div class="ellipsis"><a href="{{uri}}#hl{{uuid}}">{{{quote}}}</a></div></span>
  <span class="user-comment"><div class="secondary-text">{{title}} ({{username}})</div></span>
</script>






<!-- Testing Export to CSV  -->
<!-- Update: works for annotations just on dashboard (one line has weird symbol but mostly functional. ) -->

<script>

  function exportToCSV(filename){
    var csv = [];
    var rows = $("#my-annotation-list").find(".user-comment");
    var qRows = $("#my-annotation-list").find(".user-highlight");
    for (var i=0; i< rows.length; i++){
      var row=[];
      var cols = $(rows[i]).find(".secondary-text").text().split("(");

      //add quotes 
      var quote = $(qRows[i]).find(".ellipsis").text();
      cols.push(quote);
      //add annotations
      cols.push($(rows[i]).find(".ellipsis").text());

      for(var j = 0; j < cols.length; j++){

        row.push(cols[j]);
      }

    csv.push(row.join(","));


    }
downloadCSV(csv.join("\n"), filename);
  };

  function downloadCSV(csv, filename){

    var csvFile;
    var downloadLink;

    csvFile = new Blob([csv], {type: "text/csv"});
    downloadLink = document.createElement("a");
    downloadLink.download = filename;

    downloadLink.href = window.URL.createObjectURL(csvFile);

    downloadLink.style.display = "none";

    document.body.appendChild(downloadLink);
    downloadLink.click();
  }



</script>


